Lab Session 2

A1.  Data Exploration: Load the data available in “thyroid0387_UCI” worksheet. Perform the
following tasks:

i.Study each attribute and associated values present. Identify the datatype (nominal etc.)
for the attribute.

In [ ]:
import numpy as np
import pandas as py
from scipy import stats
from sklearn.preprocessing import StandardScaler

data = py.read_excel(r"C:\Amrita cse\5th Semester\Machine Learning\Lab\Lab 2\19CSE305_LabData_Set3.1.xlsx",sheet_name="thyroid0387_UCI")

df = py.DataFrame(data)

print(df.dtypes)

Record ID                     int64
age                           int64
sex                          object
on thyroxine                 object
query on thyroxine           object
on antithyroid medication    object
sick                         object
pregnant                     object
thyroid surgery              object
I131 treatment               object
query hypothyroid            object
query hyperthyroid           object
lithium                      object
goitre                       object
tumor                        object
hypopituitary                object
psych                        object
TSH measured                 object
TSH                          object
T3 measured                  object
T3                           object
TT4 measured                 object
TT4                          object
T4U measured                 object
T4U                          object
FTI measured                 object
FTI                          object
TBG measured                 object
TBG                          object
referral source              object
Condition                    object
dtype: object

In [ ]:
data_types = {}
# Iterate over each column
for column in df.columns:
    # Get the unique values in the column
    unique_values = df[column].unique()
    # Determine if the datatype is ordinal or nominal
    if len(unique_values) > 10:
        data_types[column] = "Ordinal"
    else:
        data_types[column] = "Nominal"
# Print the datatype of each attribute
for column, data_type in data_types.items():
    print("Attribute:", column)
    print("Datatype:", data_type)
    print()

Attribute: Record ID
Datatype: Ordinal

Attribute: age
Datatype: Ordinal

Attribute: sex
Datatype: Nominal

Attribute: on thyroxine
Datatype: Nominal

Attribute: query on thyroxine
Datatype: Nominal

Attribute: on antithyroid medication
Datatype: Nominal

Attribute: sick
Datatype: Nominal

Attribute: pregnant
Datatype: Nominal

Attribute: thyroid surgery
Datatype: Nominal

Attribute: I131 treatment
Datatype: Nominal

Attribute: query hypothyroid
Datatype: Nominal

Attribute: query hyperthyroid
Datatype: Nominal

Attribute: lithium
Datatype: Nominal

Attribute: goitre
Datatype: Nominal

Attribute: tumor
Datatype: Nominal

Attribute: hypopituitary
Datatype: Nominal

Attribute: psych
Datatype: Nominal

Attribute: TSH measured
Datatype: Nominal

Attribute: TSH
Datatype: Ordinal

Attribute: T3 measured
Datatype: Nominal

Attribute: T3
Datatype: Ordinal

Attribute: TT4 measured
Datatype: Nominal

Attribute: TT4
Datatype: Ordinal

Attribute: T4U measured
Datatype: Nominal

Attribute: T4U
Datatype: Ordinal

Attribute: FTI measured
Datatype: Nominal

Attribute: FTI
Datatype: Ordinal

Attribute: TBG measured
Datatype: Nominal

Attribute: TBG
Datatype: Ordinal

Attribute: referral source
Datatype: Nominal

Attribute: Condition
Datatype: Ordinal

ii.For categorical attributes, identify the encoding scheme to be employed. (Guidance:
employ label encoding for ordinal variables while One-Hot encoding may be employed
for nominal variables).

In [ ]:
data_types = {}
# Iterate over each column
for column in df.columns:
    # Get the unique values in the column
    unique_values = df[column].unique()
    # Determine if the datatype is ordinal or nominal
    if len(unique_values) > 10:
        data_types[column] = "Employ Label encoding"    #employ label encoding for ordinal
    else:
        data_types[column] = "One-hot encoding" #One-hot encoding for ordinal
# Print the datatype of each attribute
for column, data_type in data_types.items():
    print("Attribute:", column)
    print("Datatype:", data_type)
    print()

Attribute: Record ID
Datatype: Employ Label encoding

Attribute: age
Datatype: Employ Label encoding

Attribute: sex
Datatype: One-hot encoding

Attribute: on thyroxine
Datatype: One-hot encoding

Attribute: query on thyroxine
Datatype: One-hot encoding

Attribute: on antithyroid medication
Datatype: One-hot encoding

Attribute: sick
Datatype: One-hot encoding

Attribute: pregnant
Datatype: One-hot encoding

Attribute: thyroid surgery
Datatype: One-hot encoding

Attribute: I131 treatment
Datatype: One-hot encoding

Attribute: query hypothyroid
Datatype: One-hot encoding

Attribute: query hyperthyroid
Datatype: One-hot encoding

Attribute: lithium
Datatype: One-hot encoding

Attribute: goitre
Datatype: One-hot encoding

Attribute: tumor
Datatype: One-hot encoding

Attribute: hypopituitary
Datatype: One-hot encoding

Attribute: psych
Datatype: One-hot encoding

Attribute: TSH measured
Datatype: One-hot encoding

Attribute: TSH
Datatype: Employ Label encoding

Attribute: T3 measured
Datatype: One-hot encoding

Attribute: T3
Datatype: Employ Label encoding

Attribute: TT4 measured
Datatype: One-hot encoding

Attribute: TT4
Datatype: Employ Label encoding

Attribute: T4U measured
Datatype: One-hot encoding

Attribute: T4U
Datatype: Employ Label encoding

Attribute: FTI measured
Datatype: One-hot encoding

Attribute: FTI
Datatype: Employ Label encoding

Attribute: TBG measured
Datatype: One-hot encoding

Attribute: TBG
Datatype: Employ Label encoding

Attribute: referral source
Datatype: One-hot encoding

Attribute: Condition
Datatype: Employ Label encoding

iv.Study the presence of missing values in each attribute.

In [ ]:
missing_values = {}
for column in df.columns:
    missing_values[column] = df[column].isna().sum()
print(missing_values)

{'Record ID': 0, 'age': 0, 'sex': 0, 'on thyroxine': 0, 'query on thyroxine': 0, 'on antithyroid medication': 0, 'sick': 0, 'pregnant': 0, 'thyroid surgery': 0, 'I131 treatment': 0, 'query hypothyroid': 0, 'query hyperthyroid': 0, 'lithium': 0, 'goitre': 0, 'tumor': 0, 'hypopituitary': 0, 'psych': 0, 'TSH measured': 0, 'TSH': 0, 'T3 measured': 0, 'T3': 0, 'TT4 measured': 0, 'TT4': 0, 'T4U measured': 0, 'T4U': 0, 'FTI measured': 0, 'FTI': 0, 'TBG measured': 0, 'TBG': 0, 'referral source': 0, 'Condition': 0}

iii.Study the data range for numeric variables.

In [ ]:
# Select only the numeric columns
numeric_columns = df.select_dtypes(include=['number'])  #df.select_dtypes =>Return a subset of the DataFrame’s columns based on the column dtypes.

# Calculate the data range for each numeric column
data_ranges = numeric_columns.apply(lambda x: x.max() - x.min())    #df.apply() => Apply a function along an axis of the DataFrame.

# Print the data range for each numeric column
print("Data Range for Numeric Variables:")
print(data_ranges)

Data Range for Numeric Variables:
Record ID    230019
age              96
dtype: int64

vi. For numeric variables, calculate the mean and variance (or standard deviation).

In [ ]:
Mean = numeric_columns.mean()
print("Mean of numeric values: ",Mean)

StandardDeviation = numeric_columns.std()
print("Standard Deviation of numeric values: ",StandardDeviation)

Mean of numeric values:  Record ID    8.409340e+08
age          5.150900e+01
dtype: float64
Standard Deviation of numeric values:  Record ID    76287.343316
age             18.776541
dtype: float64

A2. Data Imputation: employ appropriate central tendencies to fill the missing values in the data
variables. Employ following guidance.
• Mean may be used when the attribute is numeric with no outliers
• Median may be employed for attributes which are numeric and contain outliers
• Mode may be employed for categorical attributes

In [ ]:
Mean = numeric_columns.mean()
print("Mean of numeric values: ",Mean)

Median = numeric_columns.median()
print("Median of numeric values: ",Median)

Mode = numeric_columns.mode()
print("Mode of numeric values: ",Mode)

Mean of numeric values:  Record ID    8.409340e+08
age          5.150900e+01
dtype: float64
Median of numeric values:  Record ID    840921029.0
age                 55.0
dtype: float64
Mode of numeric values:       Record ID   age
0    840801013  55.0
1    840801014  72.0
2    840801042   NaN
3    840803046   NaN
4    840803047   NaN
..         ...   ...
995  841031002   NaN
996  841031010   NaN
997  841031030   NaN
998  841031031   NaN
999  841031032   NaN

[1000 rows x 2 columns]

A3. Data Normalization / Scaling: from the data study, identify the attributes which may need
normalization. Employ appropriate normalization techniques to create normalized set of data.

Min-Max Scaling

In [ ]:
# Select the numeric columns you want to normalize
numeric_columns = df.select_dtypes(include=['number'])

# Define the minimum and maximum values for the scaling range
min_range = 0
max_range = 1

# Calculate the minimum and maximum values for each selected column
min_values = numeric_columns.min()
max_values = numeric_columns.max()

# Apply Min-Max scaling to the selected columns
min_max_scaled = (numeric_columns - min_values) / (max_values - min_values) * (max_range - min_range) + min_range

# Replace the original columns with the scaled values
df[numeric_columns.columns] = min_max_scaled

print("Scaled DataFrame:")
print(df)

Scaled DataFrame:
     Record ID       age sex on thyroxine query on thyroxine  \
0     0.000000  0.291667   F            f                  f
1     0.000004  0.291667   F            f                  f
2     0.000126  0.416667   F            f                  f
3     0.008838  0.364583   F            f                  f
4     0.008843  0.322917   F            f                  f
..         ...       ...  ..          ...                ...
995   0.999870  0.416667   F            f                  f
996   0.999904  0.416667   F            f                  f
997   0.999991  0.197917   F            f                  f
998   0.999996  0.197917   F            f                  f
999   1.000000  0.750000   F            f                  f

    on antithyroid medication sick pregnant thyroid surgery I131 treatment  \
0                           f    f        f               f              f
1                           f    f        f               f              f
2                           f    f        f               f              f
3                           f    f        f               f              f
4                           f    f        f               f              f
..                        ...  ...      ...             ...            ...
995                         f    f        f               f              f
996                         f    f        f               f              f
997                         f    f        t               f              f
998                         f    f        f               f              f
999                         f    f        f               f              f

     ... TT4 measured  TT4 T4U measured   T4U FTI measured  FTI TBG measured  \
0    ...            f    ?            f     ?            f    ?            f
1    ...            t  128            f     ?            f    ?            f
2    ...            f    ?            f     ?            f    ?            t
3    ...            f    ?            f     ?            f    ?            t
4    ...            f    ?            f     ?            f    ?            t
..   ...          ...  ...          ...   ...          ...  ...          ...
995  ...            t  148            t  1.44            t  103            f
996  ...            t  9.7            t  1.46            t  6.6            f
997  ...            f    ?            f     ?            f    ?            t
998  ...            t  201            t  0.84            t  240            f
999  ...            t   85            t   0.9            t   94            f

    TBG referral source     Condition
0     ?           other  NO CONDITION
1     ?           other  NO CONDITION
2    11           other  NO CONDITION
3    26           other  NO CONDITION
4    36           other             S
..   ..             ...           ...
995   ?            STMW  NO CONDITION
996   ?           other             F
997  30           other  NO CONDITION
998   ?             SVI            AK
999   ?             SVI  NO CONDITION

[1000 rows x 31 columns]

Z-score Normalization

In [ ]:
# Select only the numeric columns you want to normalize
numeric_columns = df.select_dtypes(include=['number'])

# Apply Z-Score scaling using Scikit-Learn's StandardScaler
scaler = StandardScaler()
z_score_scaled = scaler.fit_transform(numeric_columns)

# Replace the original columns with the scaled values
df[numeric_columns.columns] = z_score_scaled
print("Scaled DataFrame:")
print(df)

Scaled DataFrame:
     Record ID       age sex on thyroxine query on thyroxine  \
0    -1.744477 -1.199383   F            f                  f
1    -1.744464 -1.199383   F            f                  f
2    -1.744097 -0.559968   F            f                  f
3    -1.717815 -0.826391   F            f                  f
4    -1.717802 -1.039529   F            f                  f
..         ...       ...  ..          ...                ...
995   1.271804 -0.559968   F            f                  f
996   1.271909 -0.559968   F            f                  f
997   1.272171 -1.678944   F            f                  f
998   1.272184 -1.678944   F            f                  f
999   1.272197  1.145139   F            f                  f

    on antithyroid medication sick pregnant thyroid surgery I131 treatment  \
0                           f    f        f               f              f
1                           f    f        f               f              f
2                           f    f        f               f              f
3                           f    f        f               f              f
4                           f    f        f               f              f
..                        ...  ...      ...             ...            ...
995                         f    f        f               f              f
996                         f    f        f               f              f
997                         f    f        t               f              f
998                         f    f        f               f              f
999                         f    f        f               f              f

     ... TT4 measured  TT4 T4U measured   T4U FTI measured  FTI TBG measured  \
0    ...            f    ?            f     ?            f    ?            f
1    ...            t  128            f     ?            f    ?            f
2    ...            f    ?            f     ?            f    ?            t
3    ...            f    ?            f     ?            f    ?            t
4    ...            f    ?            f     ?            f    ?            t
..   ...          ...  ...          ...   ...          ...  ...          ...
995  ...            t  148            t  1.44            t  103            f
996  ...            t  9.7            t  1.46            t  6.6            f
997  ...            f    ?            f     ?            f    ?            t
998  ...            t  201            t  0.84            t  240            f
999  ...            t   85            t   0.9            t   94            f

    TBG referral source     Condition
0     ?           other  NO CONDITION
1     ?           other  NO CONDITION
2    11           other  NO CONDITION
3    26           other  NO CONDITION
4    36           other             S
..   ..             ...           ...
995   ?            STMW  NO CONDITION
996   ?           other             F
997  30           other  NO CONDITION
998   ?             SVI            AK
999   ?             SVI  NO CONDITION

[1000 rows x 31 columns]